---
title: J G Burton
---

<div class="container project-page">

  <div class="row animated fadeInRight">
    <div class="col-md-6">
      <a href="https://scrimba.com/g/glearnreact"><h4>Meme Generator</h4></a>
      <p>React capstone project from Bob Zirrols React course on Scrimba.</p>
      <p class="small"><a href="#"><i class="fab fa-github" aria-hidden="true"></i> View the code soon</a> </p>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="/images/meme_generator.png" alt="">
    </div>
  </div>

  <hr>

  <div class="row animated fadeInLeft">
    <div class="col-md-6">
      <a href="https://www.dekretser.com"><h4>Hdk Associates</h4></a>
      <p>Custom Wordpress theme coded from concept and designs to functioning agency website with CMS. HDK works in digital, exclusively in the arts sector.</p>
      <p class="small"><a href="#"><i class="fab fa-github" aria-hidden="true"></i> View the code soon</a> </p>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="/images/hdk_assoc.png" alt="">
    </div>
  </div>

  <hr>

  <div class="row animated fadeInRight">
    <div class="col-md-6">
      <a href="http://www.oldstocktour.co.uk"><h4>Old Stock 2018 UK Tour</h4></a>
      <p>Independently coded the responsive UK tour website from designs for Old Stock : A Refugee Love Story. JavaScript logic to auto remove tour dates after final listing date has passed.</p>
      <p class="small"><a href="#"><i class="fab fa-github" aria-hidden="true"></i> View the code soon</a> </p>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="/images/oldstock.jpg" alt="">
    </div>
  </div>

  <hr>

  <div class="row animated fadeInLeft">
    <div class="col-md-6">
      <a href="https://remotecomposer.herokuapp.com/"><h4>Remote Composer</h4></a>
      <p>Remote Composer is an open source music composition platform, for composers and artists who want to collaborate and develop musical ideas together. This app was built in four days as a duo project.</p>
      <p class="small"><a href="https://github.com/jgburton/wdi_project_4_api"><i class="fab fa-github" aria-hidden="true"></i> View the code</a> </p>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="/images/proj-4.jpg" alt="">
    </div>
  </div>

  <hr>

  <div class="row animated fadeInRight">
    <div class="col-md-6">
      <a href="https://codefund.herokuapp.com/"><h4>Code Fund</h4></a>

      <p>A team project, we built a RESTful app inspired by our experience so far in the tech world. CodeFund is a space to ask technical questions to fellow developers, with questioners donating to the charity chosen by the owner of the best answer. My teammates and I wanted to explore using tech for good; how to contribute to charity alongside providing a service.</p>
      <p class="small"><a href="https://github.com/jgburton/WDI_PROJECT_3"><i class="fab fa-github" aria-hidden="true"></i> View the code</a> </p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid" src="/images/code_fund.png" alt="">
    </div>
  </div>


  <hr>

  <div class="row animated fadeInLeft">
    <div class="col-md-6">
      <a href="https://city-jazz.herokuapp.com/"><h4>City Jazz</h4></a>
      <p>An authenticated app using the Google Maps and Yelp API’s alongside a city mapper integration. The app allows users to locate jazz venues in London, find out more information and navigate to them. Written in javaScript and jQuery, this was my first experience working with an external API.</p>
      <p class="small"><a href="https://github.com/jgburton/WDI_PROJECT_2"><i class="fab fa-github" aria-hidden="true"></i> View the code</a> </p>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="/images/city_jazz.png" alt="">
    </div>
  </div>

  <hr>



  <%= partial 'partials/social' %>
</div>
