---
title: J G Burton
---

<div class="banner">
  <h1 class="animated fadeInDown">J G Burton</h1>
  <h6>Front End Developer | Jazz Musician</h6>
</div>

<div class="container about">
  <p>Jamie studied Music at University, followed by Web Development at General Assembly. His aim is to combine the two disciplines and to use technology to solve creative problems, with particular interest in Front End Development.<p>

    <p>He's currently working within the performing arts sector as a web developer; whilst active as a jazz musician, performing and tutoring in London.<p>

      <p>Previous to honing code, he taught in Asia and travelled extensively. <p>



        <%= partial 'partials/social' %>
      </div>

      <div class="container experience">

        <h2>Developer Experience</h2>

        <div class="row">
          <div class="col-lg-6">
            <h4>HdK Associates</h4>
              <p>June 2017 - Present<p>
            <!-- <p>Iron is a subscription based company specialising in digital assistance services. During my time there I worked and created a variety of templates using HTML, SCSS and a bit of Angular for some of their new and existing projects.</p> -->
            <p>HdK is a small digital agency, working exclusively with 300+ clients in the Performing Arts sector. I'm responsible for in-house web development and outsourcing. I have a focus on Front End Development.<p>
          </div>
          <div class="col-lg-6">
            <img class="img-fluid" src="/images/hdk.png" alt="">

          </div>
        </div>

        <hr>

        <div class="row">

          <div class="col-lg-6">
            <h4>General Assembly</h4>
            <p>Nov 2016 - March 2017<p>
            <p>An immersive coding bootcamp over the span of three months where I learned different programming languages and and frameworks, both on the client side and server side.

          </div>
          <div class="col-lg-6">
            <img class="img-fluid" src="/images/generalassembly.png" alt="">
          </div>
        </div>
        <hr>

      </div>


      <div class="container projects">

        <h2>Portfolio</h2>

        <div class="row">
          <div class="col-lg-6">
            <a href="https://remotecomposer.herokuapp.com/"><h4>Remote Composer</h4></a>
            <p>
              Remote Composer is an open source music composition platform, for composers and artists who want to collaborate and develop musical ideas together. This app was built in four days as a duo project.
            </p>
            <p class="small"><a href="https://github.com/jgburton/wdi_project_4_client"><i class="fab fa-github" aria-hidden="true"></i> View the code</a> </p>
          </div>
          <div class="col-lg-6">
            <img class="img-fluid" src="/images/proj-4.jpg" alt="">
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-lg-6">
            <a href="https://codefund.herokuapp.com/"><h4>Code Fund</h4></a>

            <p>A team project, we built a RESTful app inspired by our experience so far in the tech world. CodeFund is a space to ask technical questions to fellow developers, with questioners donating to the charity chosen by the owner of the best answer. My teammates and I wanted to explore using tech for good; how to contribute to charity alongside providing a service.</p>
            <p class="small"><a href="https://github.com/jgburton/WDI_PROJECT_3"><i class="fab fa-github" aria-hidden="true"></i> View the code</a> </p>
          </div>
          <div class="col-lg-6">
            <img class="img-fluid" src="/images/code_fund.png" alt="">
          </div>
        </div>

        <%= partial 'partials/social' %>
      </div>
