---
title: J G Burton
---

<div class="container photography">
  <p>Having studied Music at degree level, I have continued to perform, tutor and study jazz guitar in both Hong Kong and London. I regulary perform and rehearse with South London Jazz Orchestra.<p>

      <p>Music is a life long passion and practice.</p>
      <hr>
      <div class="row">
        <!-- <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/419142624&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe> -->

        <div class="col-md-8">
          <!-- <img class="img-fluid animated fadeInLeft" src="https://carbonmade-media.accelerator.net/31674453;960x640.webp" alt=""> -->

          <iframe class="img-fluid animated fadeInLeft" width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/419142624&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

        </div>
        <!-- <div class="col-md-4">
          <img class="img-fluid animated fadeIn" src="https://carbonmade-media.accelerator.net/31411787;640x960.webp" alt="">
        </div> -->

      </div>

      <%= partial 'partials/social' %>

    </div>
